.burger__menu {
  background: url("../images/burger_menu-bg.jpg") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.burger__menu-text {
  text-transform: uppercase;
  position: absolute;
  font-size: px_to_rem(72px);
  font-family: $first-font;
  top: 11%;
  left: 11%;

  @include phones {
    font-size: px_to_rem(35px);
  };
}

.menu__types {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
}

.menu__type {
  display: flex;
  float:left;
  height: 100%;
}

.menu__item {
  width: px_to_rem(80px);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
}

.menu__name {
  font-size: px_to_rem(40px);
  font-family: $first-font;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  transform: rotate(270deg);
}

.menu__descr {
  font-size: px_to_rem(18px);
  opacity: 0.9;
  background-color: #2e3133;
  width: 0px;
  overflow: hidden;

  @include phones {
    font-size: px_to_rem(14px);
  };
}

.active__menu-trigger {
  width: px_to_rem(540px);
  transition-property: width;
  transition-duration: 0.8s;

  @include tablets {
    width: 100%;
  };
}
