.delivery {
  background: url("../images/delivery-bg.jpg") center center no-repeat;
  background-size: cover;
}

.order__form {
  flex-direction: column;
  justify-content: center;
}

.delivery-title {
  text-align: center;
  color: $burger-descr1;
  font-size: px_to_rem(72px);
  font-family: $first-font;
  margin-bottom: px_to_rem(80px);
}

.delivery__block {
  display: flex;
  flex-direction: row;

  @include tablets {
    flex-direction: column;
  };
}

.delivery__form {
  display: flex;
  flex-flow: column wrap;
  width: px_to_rem(460px);
  margin-right: px_to_rem(10px);

  @include phones {
    width: 100%;
    flex-flow: column nowrap;
  };
}

.form__row-title {
  font-size: px_to_rem(14px);
  margin-bottom: px_to_rem(10px);
}

.form__elem {
  display: flex;
}

.row {
  display: flex;
  margin-bottom: px_to_rem(16px);
  width: 100%;
  margin-right: px_to_rem(20px);

  @include phones {
    margin-right: px_to_rem(5px);
  };

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  flex: 1;
}

.form__input {
  border: none;
  border-radius: px_to_rem(5px);
  padding: px_to_rem(5px);
  width: 100%;
}

.comment__form {
  width: px_to_rem(460px);
  margin-left: px_to_rem(10px);

  @include phones {
    width: 100%;
  };

  @include tablets {
    margin-left: 0;
  };
}

.comment__row {
  width: 100%;
}

.comment__title {
  font-size: px_to_rem(14px);
  margin-bottom: px_to_rem(10px);
}

.comment__input {
  height: px_to_rem(108px);
}

.form__radio {
  display: flex;
  margin-right: px_to_rem(20px);
}

.radio__elem {
  display: block;
  cursor: default;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}

.radio__elem-fake {
  width: px_to_rem(16px);
  height: px_to_rem(16px);
  border-radius: 50%;
  background: white;
  position: relative;
  margin-right: px_to_rem(10px);

  &:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    background: #e35028;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.radio__elem:checked + .radio__elem-fake:after {
  transition: 0.3s;
  height: px_to_rem(8px);
  width: px_to_rem(8px);
}

.form__checkbox {
  display: flex;
}

.checkbox__elem {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 0;
  height: 0;
  overflow: hidden;
}

.checkbox__elem-fake {
  width: px_to_rem(16px);
  height: px_to_rem(16px);
  background: white;
  position: relative;

  &:after {
    content: "";
    background: url("../images/icons/check.svg") center center no-repeat ;
    background-size: contain;
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

.checkbox__elem:checked + .checkbox__elem-fake:after {
  height: px_to_rem(8px);
  width: px_to_rem(8px);
}

.checkbox__title {
  margin-left: px_to_rem(10px);
}

.delivery__button {
  color: white;
  margin-left: 0;
  margin-right: px_to_rem(20px);
  border-style: hidden;
}

.reset__button {
  padding-left: 0;
  padding-right: 0;
  background: transparent;
  border: 0;
  color: white;
}
