.values {
  background: url(../images/values_bg.jpg) no-repeat;
  background-size: cover;
  align-content: center;
  background-position: center center;

  @include tablets {
    background: url(../images/second-bg-tablet.jpg) no-repeat;
  };

  @include tablets {
    background: url(../images/2nd_page_phones-bg.jpg) no-repeat;
  };
}

.value__cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.second__header__best {
  text-transform: uppercase;
  font-size: px_to_rem(72px);
  margin-bottom: px_to_rem(90px);
  text-align: center;
  color: $best-color;
  font-family: $first-font;

  @include phones {
    font-size: px_to_rem(55px);
    margin-bottom: px_to_rem(20px);
  };
}

.values__list {
  display: flex;

  @include phones {
    flex-direction: column;
  };
}

.value__item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding: 0 px_to_rem(15px);
  color: $best-color;
  @include phones {
    flex-flow: row nowrap;
    margin-bottom: px_to_rem(20px);
  };
}

.value__img {
  margin-bottom: px_to_rem(30px);
  height: px_to_rem(100px);
  width: px_to_rem(100px);
}

.value__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value__value {
  word-wrap: normal;
  display: flex;
  width: inherit;
  text-align: center;
  align-items: baseline;
  font-size: px_to_rem(24px);
  font-style: normal;
  font-family: $second-font;
  color: $best-color;
  margin-bottom: px_to_rem(25px);
}

.value__description {
  font-size: px_to_rem(16px);
  text-align: center;
  font-family: $main-font;
  color: $best-color;
}
